Repository Chriscastanuela/whats-cookin, pull requests merged in 2020-09, with the labels that each got.

#36 Userclass
  src/pantry.js
  src/user.js
  test/pantry-test.js
  test/recipe-test.js
  test/user-test.js
Labels: Refactor, enhancement

#39 Bm accessability screen reader
  package-lock.json
  package.json
  src/css/styles.scss
  src/index.html
  src/pantry.js
  src/scripts.js
  src/user.js
  test/pantry-test.js
  test/user-test.js
Labels: Accessibility, Clean-up, Refactor, UI, enhancement

#46 Ih feature/html/css
  src/css/styles.scss
  src/index.html
  src/pantry.js
  src/scripts.js
  src/user.js
Labels: DOM, Refactor, SASS, UI

#47 Cc 09/12/20 fetch
  src/dom-updates.js
  src/index.html
  src/scripts.js
  test/dom-updates-test.js
Labels: Clean-up, DOM, Refactor, Test, UI, enhancement, spies

#49 BM 09/13/20 - Fetch Recipes And Ingredients
  src/dom-updates.js
  src/scripts.js
  test/dom-updates-test.js
Labels: DOM, Fetch, Refactor, UI

#52 Ih feature/display cooklist
  src/dom-updates.js
  src/recipe.js
  src/scripts.js
Labels: DOM, Fetch, Refactor, bug, documentation, enhancement

#62 Ih cook functionality
  src/css/styles.scss
  src/dom-updates.js
  src/scripts.js
  src/user.js
  test/recipe-test.js
  test/user-test.js
Labels: Fetch, User, enhancement, general

#63 Ih feature/search
  src/css/styles.scss
  src/index.html
  src/scripts.js
  src/user.js
Labels: enhancement, general

#65 Bm test cleanup
  src/dom-updates.js
  src/pantry.js
  src/recipe.js
  src/scripts.js
  src/user.js
  test/pantry-test.js
  test/user-test.js
Labels: Clean-up, Fetch, Lint, Refactor, Test, bug

#66 Bm clean up
  src/css/base.scss
  src/dom-updates.js
  src/scripts.js
  src/user.js
Labels: Clean-up, Lint, Refactor, bug
